.edit-modal-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1000;
  width: 100%;
}

.modal-background{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background: black;
  opacity: .5;
}


.edit-profile-form {
  position: relative;
  height: 480px;
  width: 480px;
  opacity: 1;
  z-index: 10001;
  background: white;
  margin: 100px auto;
  display: block;
  padding: 20px;
  text-align: center;
}

p.edit-form-label {
    color: #64aaaa;
    margin: 10px;
}
