.edit-modal-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1000;
  width: 100%;
}

.modal-background{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background: gray;
  opacity: .5;
}


.edit-profile-form {
  position: relative;
  height: 500px;
  width: 500px;
  opacity: 1;
  z-index: 10001;
  background: white;
  margin: auto;
  display: block;
}
