// .hoverable {
//   width: 100%;
//   height: 100%;
// }

.hoverable:hover {
  cursor: pointer;
}

.hoverable-color:hover {
  color: #E89595;
  cursor: pointer;
}

.nav-buttons {
  display: block;
  float:right;
}

.nav-bar-wrapper {
  height:50px;
}

.link-list {
  display: block;
  float: right;
}

.link-list > li {
  color: white;
  text-align: center;
  font-size: 12px;
  display:block;
  height: 50px;
  width: 70px;
  float: left;
  line-height: 50px;
  text-transform: capitalize;
}

.nav-bar-background {
  display: block;
  width: 100%;
  height: 50px;
  background: #575757;
  opacity: 0.5;
}

.nav-bar {
  display: block;
  top: -50px;
  height: 50px;
  min-width: 100px;
  max-width: 900px;
  margin: auto;
  position: relative;
}


.home-button {
  position: relative;
  color: white;
  font-size: 40px;
  letter-spacing: 3px;
  text-align: center;
  text-decoration: none;
}
