.property-form {
  position: relative;;;
  height: 300px;
  width: 300px;
  background-color: grey;
  margin: auto;
  top: 100px;
}

.property-form-input-field {
  height: 20px;
  width: 100px;
  border: 2px black solid;
  margin: 5px;
}
