.errorMessage-placeholder {
  height: 20px;
  width: 200px;
  color: red;
  margin: 5px 0 0 244px;
}

.landlord-rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.landlord-rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.landlord-rating > span:hover:before,
.landlord-rating > span:hover ~ span:before {
   content: "\2605";
   color: yellow;
   position: absolute;
}

.landlord-rating > h4 {
  // width: 200px;
  // float: right;
}

.property-rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.property-rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.property-rating > span:hover:before,
.property-rating > span:hover ~ span:before {
   content: "\2605";
   color: yellow;
   position: absolute;
}

.selected-star {

  color: #D6A100;
}

.review-form {
  border: 1px solid grey;
  padding: 10px;
}

.review-form-stars {
  position: relative;
      font-size: 20px;
      margin-right: 45px;
      margin-top: 19px;
      float: right;
      text-align: center;
}

.review-form-wrapper {
  width: 1000px;
height: 450px;
border-top: 10px solid grey;
display: block;
float: left;
background: white;
}

.text-feild-input-wrapper {
  padding: 20px 20px 5px 20px;
  background: #e4e4e4;
  width: 610px;
  margin: 10px 20px;
}

.title-input-field {
  padding-left: 5px;
  font-size: 16px;
  width: 600px;
  height: 40px;
  border: 2px solid grey;
  display: block;
  margin-bottom: 10px;
  float: left;
  background: white;
}

.star {
  font-size: 2em;
}

.review-text-area {
  display: block;
  width: 600px;
  height: 200px;
  border: 2px solid grey;
  font-size: 16px;
}
