.avg-stars {
  font-size: 2.5em;
  color: #f4bf00;
  max-width: 100px;
  // display: block;
}

// .show-property-wrapper {
//   max-width: 1000px;
//   background: white;
//   height: 100%;
//   margin: auto;
// }

.title-address {
  font-size: 50px;
  color: #64aaaa;
  padding: 10px;
}

.address-details {
  width: 1000px;
}

.address-detail {
  width: 300px;
  display: block;
  float: left;
}

.header-wrapper {
  min-width: 1000px;
  padding-bottom: 20px;
}

.map-box {
  display: block;
  float: left;
  height: auto;
  width: 300px;
  padding: 5px;
  border: 1px solid grey;
}

.property-pic {
  max-width: 400px;
  height: auto;
}

.review-wrapper {
  height: 200px;
  border-top: 1px solid grey;
}

.single-prop-map {
  height: 295px;
  width: 295px;
  float: left;
  border: 2px solid #7a7b7b;
}
