.show-property-wrapper {
  max-width: 1000px;
  background: white;
  height: 100%;
  // border-left: 1px solid #7a7b7b;
  // border-right: 1px solid #7a7b7b;
  margin: auto;
}

.address-details {
  display: block;
  float: left;
  color: #7a7e7e;
  padding: 10px;
  
}

.single-prop-map {
  height: 300px;
  width: 300px;
  float: right;
  margin:5px;
  border: 2px solid #7a7b7b;
}

.review-wrapper {
  height: 200px;
  border-top: 1px solid grey;
}
