// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, p, ul, li, input, button, a, option, select,
h1, h2, h3, h4,label, option, div {
  -webkit-appearance:none;
  color: inherit;
  background-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: inherit;
  text-decoration: inherit;
  list-style: none;
  border-radius: 0;
}

body {
  background: #2d2d2d;
  background-image: image-url('pool.jpg');
  background-color: grey;
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
  background-attachment: fixed;
}

.button:hover {
  background-color: #7a7b7b;
  cursor: pointer;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

.content-wrapper {
  max-width: 1000px;
  margin: auto;
}

// .footer {
//   bottom:0px;
//   color: white;
//   text-align: right;
//   font-size: 16px;
//   padding: 20px 0;
//   display: block;
//   width: 100%;
//   background: #575757;
//   opacity: 0.5;
// }

.page-break {
  position: absolute;
  height: 50px;
  color: #7a7b7b;
  width: 100%;
  z-index: -1;
}

.page-wrapper {
  padding-top: 50px;
}

.search-page-image-overlay {
  max-height: 400px;
  display: block;
  top: -50px;
  margin: auto;
}

.submit-button {
  margin: 10px auto;
}

.header {
  color: white;
  text-align: center;
  font-size: 50px;
  height: 80px;
  position: relative;
  z-index: 10;
  width: 930px;
  margin: auto;
  text-align: center;
}

.property-header {
  height: 130px;
}

.welcome {
  line-height: 5;
}

ul.prop-search-dropdown {
  width: 246px;
  background: white;
  text-align: center;
  float: right;
  margin-right: 143px;
  border: 2px solid grey;
  transform: translateY(-14px);
  position: relative;
  overflow: hidden;

  li:first-child {
    padding-top:25px;
  }

    li {
      margin: 0;
      display: block;
      text-align: left;
      padding: 10px;
    }

    li:hover {
      background: #aeb1b1;
    }
}

.short {
  width: 250px;
  position: relative;
  margin-left: 10px;
  z-index: 1;
  // color: #aeb1b1;   this is a light grey that matches the place holder
}
