// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



html, body, p, ul, li, input, button, a, option, select,
h1, h2, h3, h4,label, option, div {
  -webkit-appearance:none;
  color: inherit;
  background-color: transparent;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: inherit;
  text-decoration: inherit;
  list-style: none;
  border-radius: 0;
}

body {
  background: #2d2d2d;
}

.button:hover {
  background-color: #7a7b7b;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

.content-wrapper {
  max-width: 1000px;
  // min-height: 900px;
  margin: auto;
}

.footer {
  bottom:0px;
  color: white;
  text-align: right;
  font-size: 16px;
  padding: 20px 0;
  display: block;
  width: 100%;
  background: #575757;
  opacity: 0.5;
}

.page-break {
  position: absolute;
  height: 50px;
  color: #7a7b7b;
  width: 100%;
  z-index: -1;
}

body {
  background-image: image-url('pool.jpg');
  background-color: grey;
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
  background-attachment: fixed;
}

.search-page-image-overlay {
  max-height: 400px;
  display: block;
  top: -50px;
  margin: auto;
}

.submit-button {
  margin: 10px auto;
}
